
<div class="container">

    <h1>Bienvenido, benvenuti, benvenue, いらっしゃいませ</h1>
    <br>
    <br>
    <%= image_tag "banner.png", width: "800", height: "400", class: "img-fluid", alt: "Responsive image"%>
    <!--<img src="banner.png" width="800" height="400" class="img-fluid" alt="Responsive image">-->
</div>

