
<div class="container">

    <h1>Bienvenido, benvenuti, benvenue, いらっしゃいませ</h1>
    <br>
    <br>
    <img src="/assets/banner.png" width="800" height="400" class="img-fluid" alt="Responsive image">
</div>

