<h3>
Hola, <%= @user.name %>.
Queremos informarle que ha estado en contacto con un usuario infectado con COVID-19.
Por favor, trate de mantener un contacto mínimo con el exterior para prevenir otros
contagios siguiendo los protocolos establecidos.
Su estado en riesgo ha sido registrado por la aplicación.
En un período de <%= @days_to_be_healthy %> días, su usuario volverá a la normalidad.
Usted podrá cargar un test negativo si desea recuperar el estado de su usuario antes
del período establecido.<br>
Saludos y cuídese,<br>
YEA (DMS)
</h3>