<h3>
Hola, <%= @user.name %>.
Queremos informarle que hemos registrado en su locación un usuario infectado con COVID-19.
Por favor, trate de mantener los protocolos establecidos y las medidas de higiene adecuadas.<br>
Saludos y cuídese,<br>
YEA (DMS)
</h3>