<h1> Bienvenido, <%= @user.name %>! </h1>

<h3>
Estamos alegres de recibirlo en nuestra plataforma!<br>
Con nuestro servicio, puede mantener un registro de los lugares a los que va,
registrar los testeos de COVID que realice y ser notificado si ha estado en contacto
con un usuario contagiado.<br>
Por favor, use la plataforma responsablemente! Juntos, podemos hacer de este mundo un lugar mejor (y más sano!).<br>
Más vale pájaro en mano que cien volando.<br>
Saludos y cuídese,<br>
YEA (DMS)
</h3>