<h1>
  Hola administrador <%= @user_decorator.name %>!
</h1>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_api_key%>&callback=initMap">
</script>

<%= javascript_tag do %>
  window.locations = <%= raw @locations.to_json %>;
<% end %>

<script src='assets/admin_map.js'></script>

<div id="google-maps-api-map" style="width: 1110px; height: 500px" ></div>




