<div class="container p-3 my-3 border">
    <h1>Carga el c칩digo QR de la locaci칩n en donde est치s</h1>
</div>
<div class="container p-3 my-3 border">
    <%= form_for(@user_location, url: {controller: 'user_locations', action: 'destroy'}, method: :delete)  do |f| %>
    <%= f.file_field :qr_image, required: true, class:"form-control" %>
    <br>
    <%= f.submit 'Salir de la locaci칩n', class: "btn btn-outline-dark"%>
    <% end %>
</div>