<h1>Mis tests</h1>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Resultado</th>
    </tr>
    </thead>
    <% @decorated_tests.each do |test| %>
    <tr>
        <td><%= test.formatted_date %></td>
        <td><%= test.result_description %></td>
    </tr>
    <% end %>
</table>