<h1>Listing locations</h1>
<table>
    <tr>
        <th>Nombre</th>
        <th>Mapa</th>
        <th>Logo</th>
        <th>QR</th>
    </tr>
    <% @locations.each do |location| %>
    <tr>
        <td><%= link_to location.name, location_path(location.id), method: 'get' %></td>
        <td><%= location.latitude.to_s + ' ' +location.latitude.to_s %></td>
        <td>ESTO ES UN LOGO</td>
        <td>ESTO ES UN QR</td>
    </tr>
    <% end %>
</table>

<%= button_to "Crear locación", new_location_path, method: :get %>