<h1>Mis locaciones</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Logo</th>
            <th scope="col">Locación</th>
        </tr>
    </thead>
    <% @locations.each do |location| %>
    <tr>
        <td scope="row">
            <image src="<%= url_for(location.location_image) %>" width="25" height="20" />
        </td>
        <td><%= link_to location.name, location_path(location.id), method: 'get', class: 'text-dark' %></td>

    </tr>
    <% end %>
</table>

<%= button_to "Crear locación", new_location_path, method: :get %>