<h1>Ac치 est치 tu locaci칩n <%= @location.name %> </h1>
<h2>Actualmente hay <%= @location.user_locations.count %> personas en tu local. </h2>
    Nombre: <%= @location.name %> <br>
    Geoposici칩n: <%= @location.latitude.to_s + ' ' + @location.latitude.to_s %> <br>
    Logo: ESTO ES UN LOGO <br>
    QR: ESTO ES UN QR <br>